<body>
  Новая заявка!<br />
  Номер заявки:
  {{id}}<br />
  ФИО заявителя:
  {{fullname_applicant}}<br />
  ФИО обучающегося:
  {{fullname_student}}<br />
  Возраст обучающегося:
  <b>{{age_student}}</b><br />
  Контакты:
  {{contact}}<br />
  Адрес:
  {{place}}<br />
</body>